
.service-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: var(--light-bg);
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    position: relative;
    cursor: pointer; /* Indica que o card é clicável */
    
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    pointer-events: none;
    z-index: -1;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s;
}

.card h3 {
    margin: 15px 0;
    font-size: 1.5em;
    color: var(--primary-color);
}

.card p {
    padding: 0 15px;
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
    font-family: 'Roboto';
    text-align: center;
}

.card a {
    color: inherit; 
}

.card a:hover {
    color: var(--secondary-color); 
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.card:hover img {
    transform: scale(1.05);
}