.slideshow-container,.slideshow-container2 {
    
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.mySlides, .mySlides2{
    display: none;
    position: relative;
    width: 100%;
}

.mySlides img , .mySlides2 img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    border-radius: var(--border-radius);
}
.mySlides p,.mySlides2 {
    text-align: center;
}
.dots,.dots2 {
    text-align: center;
    padding: 10px 0;
}

.dot ,.dot2{
    height: 12px;
    width: 12px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active,.dot2.active {
    background-color: var(--secondary-color);
}

.fade {
    animation: fadeEffect 1s ease-in-out;
}

@keyframes fadeEffect {
    from { opacity: 0; }
    to { opacity: 1; }
}

.testimonialSlides {
    display: none;
    position: relative;
    width: 80%;
    max-width: 800px; 
    padding: 20px;
    background-color: var(--light-bg);
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}
.testimonialSlides p  {
    text-align: center;
}

.testimonial-dots {
    text-align: center;
    padding: 10px 0;
}

.testimonial-dot {
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.testimonial-dot.active {
    background-color: var(--secondary-color);
}
